*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif; 
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Libre Baskerville', serif;
}