<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="login()">
    <fieldset>
      <h2>Login Form</h2>

    
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          [class]="
            email?.invalid && email?.touched
              ? 'input-error'
              : email?.valid && email?.touched
              ? 'input-valid'
              : ''
          "
        />
        @if(email?.touched) {
          <div>
            @if(email?.errors?.['required']) {
              <small class="error">Email is required</small>
            }
            @if(email?.errors?.['email']) {
              <small class="error">Invalid email format</small>
            }
          </div>
        }
      </div>

    
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [class]="
            password?.invalid && password?.touched
              ? 'input-error'
              : password?.valid && password?.touched
              ? 'input-valid'
              : ''
          "
        />
        @if(password?.touched) {
          <div>
            @if(password?.errors?.['required']) {
              <small class="error">Password is required</small>
            }
            @if(password?.errors?.['minlength']) {
              <small class="error">Password must be at least 5 characters</small>
            }
          </div>
        }
      </div>

      <button type="submit" [disabled]="form.invalid">
        Login
      </button>
      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
