<div class="book-details-container">
  <ng-container *ngIf="isLoading; else bookDetails">
    <app-spinner></app-spinner>
  </ng-container>

  <ng-template #bookDetails>
    <div class="book-details card">
      <img [src]="book.image" alt="Book Image" class="book-image" />
      <div class="book-info">
        <h1>{{ book.title }}</h1>
        <p class="author">by {{ book.author }} ({{ book.year }})</p>
        <p class="long-description">{{ book.long_description }}</p>
        <button class="back-button" [routerLink]="['/catalog']">Back</button>
      </div>
    </div>
  </ng-template>
</div>
